body {
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;

    --main-light: #f9f9f9;
    --main-light-c1: #88AB8E;
    --main-light-c2: #AFC8AD;
    --main-light-c3: #EEE7DA;

    --main-dark: #040D12;
    --main-dark-c1: #183D3D;
    --main-dark-c2: #5C8374;
    --main-dark-c3: #93B1A6;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

a {
    text-decoration: none;
    color: var(--main-light)
}

li {
    list-style:none;
}

h1,h2,h3,h4,h5,h6,.projects,.div-announcements {
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 100vh;
}

header {
    background-color: var(--main-light-c1);
    color: var(--main-light);
    font-size: 1.5rem;
}

main {
    background-color: var(--main-light-c3);
    /* padding-top: 1rem; */
    display: grid;
    grid-template-rows: 20% 80%;
}

.main-top {
    background-color: var(--main-light);
    display: grid;
    grid-template-columns: 100%;
}

input {
    background-color: lightgrey;
    border: none;
    border-radius: 25px;
    height: 25px;
}

.main-dash {
    margin: 1rem 2rem 0 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}

.nav-logo, .nav-main {
    margin-bottom: 3rem;
}

.nav-item {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.projects-title {
    margin-left: 1rem;
}

.project-card {
    background-color: var(--main-light-c1);
    border-radius: 10px;
    padding-left: 10px;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.project-content {
    background-color: var(--main-light);
    border-radius: 0 10px 10px 0;
    padding: 1rem;
}

.project-content > div > a {
    color: var(--main-dark);
}

.div-announcements {
    background-color: var(--main-light);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.trending {
    margin-top: 1rem;
}

.div-trending {
    background-color: var(--main-light);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.profile {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
}

.profile-desc {
    margin-left: .5rem;
    display: grid;
}

.profile-name, .profile-desc {
    margin: 2px;
    padding: 2px;
}

.profile-image {
    background-color: var(--main-light-c1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}